{{ define "main" }}
<article class="">

  <header class="mb-6">

    <p class="text-sm text-zinc-500">
      {{ .Date.Format "2006-01-02" }}
    </p>
    <h1 class="text-5xl font-bold leading-none mb-2 text-zinc-900">
      {{ .Title }}
    </h1>

    <p class="text-xl text-zinc-900">
      {{.Params.description}}
    </p>

  </header>

  {{ if .Params.github }}
    <section class="gap-4 mb-6 flex-wrap">

    <h2 class="text-2xl font-semibold mb-2">
      Links
    </h2>

    <a href="{{ .Params.github }}" target="_blank" class="cursor-pointer hover:text-zinc-600">
      <i class="ti ti-brand-github text-2xl text-zinc-900 bg-pink-300 rounded-full px-2 py-1"></i>
    </a>

  </section>
  {{end}}



  {{ with .Params.tags }}

  <section class="mb-4 text-zinc-900">

    <h2 class="text-2xl font-semibold mb-2">
      What used / Tech stack
    </h2>

    <div class="flex flex-wrap gap-3">

      {{ range . }}

      <a href="{{ printf "/tags/%s/" (. | urlize) | relURL }}" class="px-3 py-1 rounded-full bg-pink-300 text-sm text-zinc-900">
        #{{ . }}
      </a>

      {{ end }}

    </div>

  </section>

  <div class="border-t border-footer-line border-l-zinc-600 mb-6"></div>


  {{ end }}

  <section class="prose prose-zinc max-w-none text-justify text-zinc-900 marker:zinc-900">

    {{ .Content }}

  </section>

</article>

{{ end }}