{{ define "main" }}

<h1 class="text-4xl font-bold mb-10">
  Blog
</h1>

<div class="space-y-4">

  {{ range .Pages }}
  <a href="{{ .RelPermalink }}" class="
            result-item
            flex items-center gap-3
            px-4 py-3 border border-zinc-900
            group hover:bg-zinc-200 transition
            text-zinc-900
          ">
    <i class="ti ${icon} text-zinc-900 group-hover:text-zinc-600"></i>

    <div class="flex flex-col">
      <span class="group-hover:text-zinc-600 font-bold text-xl leading-none bg-blue-400">{{ .Title }}</span>
      <span class="text-xs group-hover:text-zinc-600">{{ .Date.Format "02-01-2006" }}</span>
    </div>

    <i class="ti ti-arrow-right ml-auto text-zinc-900 group-hover:text-zinc-600"></i>
  </a>

  {{ end }}

</div>

{{ end }}