{{ define "main" }}

<article class="max-w-3xl mx-auto">

    <header class="mb-6">

        <p class="text-sm text-zinc-500">
            {{ .Date.Format "2006-01-02" }}
        </p>
        <h1 class="text-5xl font-bold leading-none">
            {{ .Title }}
        </h1>

    </header>

    {{ with .Params.tags }}

    <div class="flex gap-2 mb-10 flex-wrap">

        {{ range . }}

        <a href="{{ printf "/tags/%s/" (. | urlize) | relURL }}" class="px-3 py-1 rounded-full bg-pink-400 text-sm text-zinc-900">
            #{{ . }}
        </a>

        {{ end }}

    </div>

    {{ end }}

    <section class="prose prose-zinc max-w-none text-justify">
        {{ .Content }}
    </section>

</article>

{{ end }}