{{ define "main" }}

<article class="">

    <header class="mb-6">

        <p class="text-sm text-zinc-500">
            {{ .Date.Format "02-01-2006" }}
        </p>
        <h1 class="text-5xl font-bold leading-none">
            {{ .Title }}
        </h1>

    </header>

    {{ with .Params.tags }}

    <div class="flex gap-2 mb-4 flex-wrap">

        {{ range . }}

        <a href="{{ printf "/tags/%s/" (. | urlize) | relURL }}" class="px-3 py-1 rounded-full bg-pink-300/50 text-sm text-zinc-900">
            #{{ . }}
        </a>

        {{ end }}

    </div>

    {{ end }}

    <div class="border-t border-footer-line border-l-zinc-600 mb-6"></div>

    <section class="prose prose-zinc max-w-none text-justify text-zinc-900 marker:zinc-900">
        {{ .Content }}
    </section>

</article>

{{ end }}
