{{ define "main" }}



<section class="mb-20">

  

  <h1 class="text-5xl text-center font-bold">
    Aleksander Radłowski
  </h1>

  <p class="text-zinc-400 text-center text-lg mb-8">
    I just love programming
  </p>

  <section>
    <span class="text-zinc-400 text-sm">Some information about me</span>
    <p class="text-justify">
      I've been programming for the past 6 years and i love everything about it!
      I love to create architecture / think about the structure of the code and being able to CODE and solve problems.
      This is what fuels my entire life, i just love solving problems by coding.


      <!-- I've been interested in programming since I was a child. 
      I've always been fascinated by how things are built and how code works. 
      I mainly focus on software development, mostly using Java/Python. 
      I also have experience with web technologies (Next.js/React) and databases. 
      I'm currently learning data analysis and building AI models. -->
    </p>
  </section>

</section>

  <!--
<section class="mb-16">
  <h2 class="text-3xl font-semibold mb-6">
    Latest Posts
  </h2>

  <div class="space-y-3">

    {{ range first 5 (where .Site.RegularPages "Section" "blog") }}

    <a href="{{ .RelPermalink }}" class="block p-4 border border-zinc-800 rounded-xl hover:bg-zinc-900 transition">

      <div class="flex justify-between items-center">
        <span>{{ .Title }}</span>

        <span class="text-sm text-zinc-500">
          {{ .Date.Format "2006-01-02" }}
        </span>
      </div>

    </a>

    {{ end }}

    {{ range first 2 (where .Site.RegularPages "Section" "projects") }}

    <a href="{{ .RelPermalink }}" class="block p-4 border border-zinc-800 rounded-xl hover:bg-zinc-900 transition">

      <div class="flex justify-between items-center">
        <span>{{ .Title }}dobry</span>

        <span class="text-sm text-zinc-500">
          {{ .Date.Format "2006-01-02" }}
        </span>
      </div>

    </a>

    {{ end }}

  </div> -->
</section>

{{ end }}