{{ define "main" }}
<section class="mb-20">

  <h1 class="text-5xl text-center font-bold">
    Aleksander Radłowski
  </h1>

  <p class="text-zinc-400 text-center text-lg mb-8">
    I just love programming
  </p>

  <section class="mb-8">
    <h2 class="text-3xl font-semibold mb-6">
      Some information about me
    </h2>
    <p class="text-justify">
      I've been programming for the past 6 years and i love everything about it!
      I love to create architecture / think about the structure of the code and being able to CODE and solve problems.
      This is what fuels my entire life, i just love solving problems by coding.
    </p>
  </section>

  <h2 class="text-3xl font-semibold mb-6">
    Latest blogs
  </h2>

  <div class="space-y-3 mb-8">

    {{ range first 2 (where .Site.RegularPages "Section" "blog") }}

    <a href="${page.permalink}" class="
            result-item
            flex items-center gap-3
            px-4 py-3 border border-zinc-900
            group hover:bg-zinc-200 transition
          ">
      <i class="ti ti-user text-zinc-900 group-hover:text-zinc-600"></i>

      <span class="group-hover:text-zinc-600">{{ .Title }}</span>

      <div class="text-sm text-zinc-500 ml-auto">
        <span class="ml-4">{{ .Date.Format "02-01-2006" }}</span>
        <i class="ti ti-arrow-right ml-auto text-zinc-900 group-hover:text-zinc-600"></i>
      </div>
    </a>


    {{ end }}
  </div>


  <section class="mb-8">
    <h2 class="text-3xl font-semibold mb-2">
      Experience
    </h2>

    <ul class="relative space-y-2">
      <div class="absolute left-[7px] md:left-[11px] top-0 bottom-0 w-1 rounded-full bg-zinc-900"></div>
      {{ range .Site.Data.experience }}
      <li class="relative pl-8 md:pl-10">
        <div class="absolute w-4 h-4 bg-zinc-900 transform top-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full">
        </div>
        <div class="text-zinc-900 p-4">
          <div class="flex flex-col">
            <div class="flex flex-row justify-between">
              <span class="font-bold text-xl leading-none"> {{ .work_title }} </span>
              <span>{{ .started_at }} - {{ .ended_at}}</span>
            </div>
            <span class="text-md">
              {{ .title  }} 
              {{ if .type }}
                {{ printf "- %s" .type }}
              {{ end }}
              {{ if .location }}
                {{ printf "- %s" .location }}
              {{ end }}
            </span>
            <!-- <span class="text-sm">{{ .type }} / {{ .location }}</span> -->
          </div>
          <div class="prose text-zinc-900 mt-3 text-sm leading-relaxed">
            {{ .content | markdownify }}
          </div>
        </div>
      </li>
      {{ end }}
    </ul>
  </section>


  <h2 class="text-3xl font-semibold mb-6">
    Achievements
  </h2>


</section>
{{ end }}