{{ define "main" }}



<section class="mb-20">



  <h1 class="text-5xl text-center font-bold">
    Aleksander Radłowski
  </h1>

  <p class="text-zinc-400 text-center text-lg mb-8">
    I just love programming
  </p>

  <section class="mb-8">
    <span class="text-zinc-400 text-sm">Some information about me</span>
    <p class="text-justify">
      I've been programming for the past 6 years and i love everything about it!
      I love to create architecture / think about the structure of the code and being able to CODE and solve problems.
      This is what fuels my entire life, i just love solving problems by coding.
    </p>
  </section>


  <section>
    <span class="text-zinc-400 text-sm">Experience</span>
    <ul class="text-zinc-900 bg-blue-500 space-y-4">
      {{ range .Site.Data.experience }}
      <li class="flex flex-col h-fit bg-red-300">
        <span>{{ .title }} - {{ .work_title }}</span>
        <span>{{ .started_at }} - {{ .ended_at }}</span>
        <div class="prose">
          {{ .content | markdownify }}
        </div>
      </li>
      {{ end }}
    </ul>
  </section>


</section>

<!--
<section class="mb-16">
  <h2 class="text-3xl font-semibold mb-6">
    Latest Posts
  </h2>

  <div class="space-y-3">

    {{ range first 5 (where .Site.RegularPages "Section" "blog") }}

    <a href="{{ .RelPermalink }}" class="block p-4 border border-zinc-800 rounded-xl hover:bg-zinc-900 transition">

      <div class="flex justify-between items-center">
        <span>{{ .Title }}</span>

        <span class="text-sm text-zinc-500">
          {{ .Date.Format "2006-01-02" }}
        </span>
      </div>

    </a>

    {{ end }}

    {{ range first 2 (where .Site.RegularPages "Section" "projects") }}

    <a href="{{ .RelPermalink }}" class="block p-4 border border-zinc-800 rounded-xl hover:bg-zinc-900 transition">

      <div class="flex justify-between items-center">
        <span>{{ .Title }}dobry</span>

        <span class="text-sm text-zinc-500">
          {{ .Date.Format "2006-01-02" }}
        </span>
      </div>

    </a>

    {{ end }}

  </div> -->
</section>

{{ end }}